<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Automatic Text Summarization </h5>
      <li style ="font-size: 15px"> <strong>Python | Machine Learning | text-similarity</strong></li>
      <ul>
        <li style="font-size: 13px">Established a python program which one only need to provide the http address, the program would scrape the paragraph in that page directly and generate the single-sentence summary.</li>
        <li style="font-size: 13px">Analyzed the different approach method by comparing the differences among similarity measurements covered in data mining including <i>tf-idf</i>, <i>word2vec</i>, <i>bm25plus</i> etc.</li>
      </ul>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Build Tiny Database </h5>
      <li style="font-size: 15px"> <strong>C, buffer manager, B+-Tree structure</strong></li>
      <ul>
        <li style="font-size: 13px">Designed a tiny database that allows navigation through records and inserting and deleting records.</li>
        <li style="font-size: 13px">Implemented a disk-based B+-tree index structure to reduce the time consuming of data retrieving and manipulating.</li>
        <li style="font-size: 13px">Installed a buffer managerto manage a buffer of blocks in memory and different block replacement method.</li>
      </ul>
      
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Online Grocery Store </h5>
      <li style="font-size: 15px"> <strong>Java, SQL, Relational Algebra</strong></li>
      <ul>
        <li style="font-size: 13px">Developed SQL queries to realize the features not only elementary but also advanced. </li>
        <li style="font-size: 13px">Led a three students team to work cooperatively and integrated database queries into front-end features</li>
        <li style="font-size: 13px">Programmed this program using Java platform and JDBC to connect the database.</li>
      </ul>
      
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
